<!DOCTYPE hmtl>
<html>
        <style>.error {
            color: red
        }
        p.test {
    
    
    word-wrap: break-word;
}
        </style>


        <nav>
                <a href = "/">Home</a> |
                <a href="/blog">All Posts</a>|
                <a href="/newpost">Add a new blog entry</a>
                
                
        </nav>
    <head>
        <title> Build-a-blog</title>
    </head>
        <body>
                <div>
                        <a href="/logout"> Logout </a>|
                
                
                    <a href = "/login"> login</a>
                
                
        {% with messages = get_flashed_messages(with_categories=true) %}
             <ul>
            {% for category,message in messages %}
                <li><div class="{{ category }}">{{message}}</li></div>
            {% endfor %}
            </ul>
        {% endwith %}
        {% block content %}
        {% endblock %}
        
    </body> 
</html>    